/COPYING
/INSTALL
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.in
/config.log
/configure
/install-sh
/missing
/*.bin
/*.hfst
/*.gz
/*.pc
/*.zhfst
/.DS_Store
/Makefile
/ap_include.am
/config.status
/modes
/*.mode
/*-*.prob
/.deps
/config
/test/*-output.txt
