* text=auto !eol
/apertium-eu-fr.eu-fr.dix -text
/apertium-eu-fr.eu-fr.t1x -text
/apertium-eu-fr.eu.dix -text
/apertium-eu-fr.fr.metadix -text
dev/cross-model-eu-es-fr.xml -text
dev/cross.xml -text
dev/patterns-not-detected.xml -text
